body {
    font-family: 'Ubuntu', sans-serif;
}

iframe {
    width: 35vmax;
    height: 22vmax;
    border: 3px solid #0D6EFD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#root {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}